/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.para {
  text-align: center;
}

* {
  font-family: "Raleway", sans-serif;
}
body {
  background-color: transparent;
}
body::after {
  background-image: url("../stuff/1538244205855.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.navWrapCont {
  width: 100%;
  height: 100%;
  text-align: left;
  /* display: inline-block; */
}
.brandLogo {
  width: 49%;
  margin-left: 5px;
  font-size: 25px;
  float: left;
  /* color: black; */
}

.navii {
  width: 49%;
  height: 100%;
  font-size: 250px;
  float: right;
  text-align: right;
  color: aquamarine;
}
.navii li {
  float: right;
  text-align: right;
}
.naviii {
  font-size: 25px;
  /* color: aquamarine; */
  /* float: right; */
  /* width: 100%; */
}

.buttons {
  width: 100%;
  float: center;
  position: relative;
  text-align: center;
  /* margin: auto; */
}
.buttons .btn {
  display: inline-block;
}
.btn {
  width: 200px;
  font-weight: bold;
  position: relative;
  /* float: center; */
  margin: 10px;
  color: white !important;
}
.word {
  padding: 20px;
  margin: auto;
}
.kanji {
  padding-top: 3px;
  font-size: 30px;
}
.prevWord {
  font-weight: bold;
}
.correct {
  font-weight: 600;
  font-size: 80px;
  margin: 20px;
}
.fails {
  text-align: center;
}
.failList {
  height: 100px !important;
  width: 250px !important;
  position: relative;
  overflow-y: scroll !important;
  bottom: 20px;
  color: grey;
  resize: none;
}
.difficulty {
  float: center;
  position: relative;
  margin: auto;
  text-align: center;
  /* width: 75%; */
  /* left: 19%; */
}

.reading {
  font-size: 14px;
}
.sentenceBox {
  /* font-size: 45px; */
  font-size: 200%;
}

.mora {
  color: white;
  background-color: grey;
}
.go {
  font-size: 50px;
  color: grey;
  margin-top: 10px;
}
.replay {
  font-size: 20px;
  color: grey;
  margin: 10px;
}
/* .btn-small {
  border: 2px !important;
  border-color: aliceblue !important;
  size: 2000px !important;
} */
